/* Styles for the WelcomePage component */
body {
    background-image: url("images/welc-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    z-index: 1; /* Ensure it is on top of the background image */
  }
  
  

button {
  appearance: none;
  border: 0;
  padding: 25px 45px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border-radius: 500px;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  background: linear-gradient(
    270deg,
    #5f2c82,
    #ee38bf,
    #ff5858,
    #49a09d,
    #1b5ece,
    #5f2c82,
    #ee38bf,
    #ff5858
  );
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

h1{
    font-family: garamond;
    font-size: 32px;
}